<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</head>
<body>
    <div id="map" style="height: 50em;"></div>
    <div id="news">here</div>
</body>
</html>
<script type="text/javascript" src="countries.js"></script>
<script>
    var map = L.map('map').setView([49.183, -0.35], 13);

    map.createPane('labels');
    map.getPane('labels').style.zIndex = 650;
    map.getPane('labels').style.pointerEvents = 'none';

    var positron = L.tileLayer('https://{s}.basemaps.cartocdn.com/light_nolabels/{z}/{x}/{y}.png', {
        attribution: '©OpenStreetMap, ©CartoDB'
    }).addTo(map);

    var positronLabels = L.tileLayer('https://{s}.basemaps.cartocdn.com/light_only_labels/{z}/{x}/{y}.png', {
            attribution: '©OpenStreetMap, ©CartoDB',
            pane: 'labels'
    }).addTo(map);

    var geojson = L.geoJson(countries).addTo(map);
    
    geojson.eachLayer(function (layer) {
        var countryName = layer.feature.properties.name
        layer.bindPopup(countryName);
        layer.on('click', function(event){
            var divNews = document.getElementById("news");
            divNews.textContent = countryName;
            console.log("hey "+countryName);


            var data = {
                "name":countryName,
                "id":1
            }
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "http://localhost:8081/countries", true);
            xhr.setRequestHeader("Accept", "application/json");
            xhr.setRequestHeader("Content-Type", "application/json");
            
            xhr.send(JSON.stringify(data));



        })
    });

    map.fitBounds(geojson.getBounds());

    /*
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 30,
    }).addTo(map);
    */
</script>